@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  hanging-punctuation: first last; /* doesn't have support in all browsers yet */
  color-scheme: dark light;
}

body {
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  /* doesn't have support in all browsers yet */
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
  }
}

.wrapper {
  width: min(100% - 3rem, 100ch);
  margin-inline: auto;
}

@media screen and (width > 768px) {
  .wrapper {
    width: min(100% - 7rem, 130ch);
  }
}

@media screen and (width > 1024px) {
  .wrapper {
    width: min(100% - 7rem, 130ch);
  }
}

input, textarea {
  @apply bg-input text-foreground rounded-md border border-border focus:border-black focus:ring-2 focus:ring-black py-1 pl-3;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-info);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  @apply bg-muted-foreground text-popover-foreground rounded-md p-1 font-medium text-nowrap text-xs;
  opacity: 0;
}

.tooltip:hover::after {
  opacity: 1;
}