@if(isLoggedIn) {
  @if(videoDetails) {
    <section class="bg-muted rounded-md p-8 mb-10 relative">
      <form [formGroup]="updateVideoForm" (ngSubmit)="onSubmit()" class="w-1/2 mx-auto flex flex-col gap-10">    
        <img src="{{ videoDetails.snippet.thumbnails?.medium?.url }}" alt="{{ videoDetails.snippet.title }}" class="w-full aspect-video rounded-md">

        <div class="space-y-2">
          <label for="title">Title</label>
          <input type="text" class="font-bold text-2xl w-full bg-transparent border border-muted-foreground focus:outline-none focus:ring-primary" value="{{ updateVideoForm.get('title')?.value }}" formControlName="title" />
        </div>
        <div class="space-y-2">
          <label for="description">Description</label>
          <input type="text" class="text-lg text-muted-foreground w-full bg-transparent border border-muted-foreground focus:outline-none focus:ring-primary" value="{{ updateVideoForm.get('description')?.value }}" formControlName="description" />
        </div>
        
        
        
        <div class="space-y-2">
          <label for="tags">Tags</label>
          <div class="flex gap-2 flex-wrap">
            <input
              type="text"
              name="tags"
              id="tags"
              placeholder="Enter a tag and press Enter"
              (keydown.enter)="addTag($event)"
              class="w-full bg-transparent border border-muted-foreground focus:outline-none focus:ring-primary"
              />
            @for(tag of tags; track tags) {
              <span class="px-2 rounded-md border border-muted-foreground text-sm flex items-center justify-center gap-1 cursor-pointer group duration-200">
                <p>{{ tag }}</p>
                <!-- remove icon -->
    
                <!-- eslint-disable-next-line -->
                <span (click)="removeTag(tag)" tabindex="0">
                  <svg
                    class="size-3 group-hover:text-primary"
                    width="24"  
                    height="24"  
                    viewBox="0 0 24 24"  
                    fill="none"  
                    stroke="currentColor"  
                    stroke-width="2"  
                    stroke-linecap="round"  
                    stroke-linejoin="round"  
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
                </span>
              </span>
            }
          </div>
        </div>


        <div class="space-y-2">
          <label for="title">Category ID</label>
          <input type="text" class="text-muted-foreground w-full bg-transparent border border-muted-foreground focus:outline-none focus:ring-primary" value="{{ updateVideoForm.get('categoryId')?.value }}"  formControlName="categoryId" />
        </div>

        <div class="flex gap-2 justify-end mt-10">
          <button class="px-4 py-2 font-medium text-red-100 bg-red-800 rounded-md cursor-pointer hover:opacity-80 duration-200">Discard changes</button>
          <button class="px-4 py-2 font-medium text-foreground bg-muted-foreground rounded-md cursor-pointer hover:opacity-80 duration-200">Update video</button>
        </div>
      </form>

      @if(successMessage) {
        <div class="bg-green-700 text-green-300 rounded-md p-3 fixed bottom-10 left-1/2 -translate-x-1/2">{{ successMessage }}</div>
      }
    </section>
  }
} @else {
  <app-require-authorization />
}