<section class="w-full max-w-md p-8 rounded-md bg-popover shadow-lg flex flex-col gap-12">
  <h2 class="text-center text-2xl font-bold">Login Form</h2>
  <form action="" class="flex flex-col gap-4">
    <div class="space-y-2">
      <label for="username" class="text-muted-foreground">Nombre de usuario</label>
      <input type="text" name="username" id="username" class="w-full rounded-md bg-transparent border py-2 px-4 placeholder:text-gray-500 focus:outline-none focus:ring-0" placeholder="Usuario123" />
    </div>

    <div class="space-y-2">
      <label for="password" class="text-muted-foreground">Contraseña</label>
      <input type="password" name="password" id="password" class="w-full rounded-md bg-transparent border py-2 px-4 placeholder:text-gray-500 focus:outline-none focus:ring-0" placeholder="******" />
    </div>

    <button class="w-full py-2 rounded-md bg-primary border-primary mt-4 font-medium">Login</button>
  </form>
</section>